/* Reset Code Start */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #ffffff;
  font-family:Montserrat;
}
/* Reset Code End */

/* Root Section Code Start */
:root {
    /* Color Section */
  --primary-color: #f48e28;
  --second-color: #F5DDC4;
  --black-color: #000000;
  --white-color: #ffffff
  --gradient-color: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
}
/* Root Section Code End */

header{
    width: 100%;
    height: 100vh;
}
/* Nav Section Code Start */
nav{
    width: 90%;
    height: 10vh;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.navbar-logo img{
    width: 94px;
    height: 56px;
}
.nav-menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}
.nav-menu ul li{
    padding-right: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 21.94px;
    padding-top: 22px;

}
.nav-searchbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 25px;
    box-shadow: 0px 4px 4px 1px #0000001A;
    height: 7vh;
    border-radius: 8px;
}
.nav-searchbar-first{
    border: none;
}
.nav-searchbar-first i{
    width: 19px;
    height: 20px;
}
.nav-searchbar-first input{
    border: none;
    border-right: 1px solid #ADADAD;
    padding-left: 10px;
}
.nav-searchbar-first input::placeholder{
    width: 600;
    font-size: 18px;
    line-height: 21.84px;
}

.nav-searchbar-second{
    padding-left: 20px;
}
.nav-searchbar-second img{
    width: 28px;
    height: 28px;
}
/* Nav Section Code End */

/* Banner Section Code  Start */
.banner-section{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.banner-first-section{
    width: 48%;
}
.bike-delivery{
    width: 270px;
    height: 63px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-color);
    border-radius: 50px;
    margin-top: 50px;
}
.bike-delivery h3{
    color: var(--primary-color);
    background: none;
    padding-left: 15px;
}
.bike-delivery-img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-right: 4px;
    
}
.bike-delivery-img img{
    width: 50px;
    height: 50px;
    background: none;
}

.banner-details h1{
    font-weight: 700;
    font-size: 70px;
    line-height: 70px;
    color: var(--white-color);
    text-transform: uppercase;
    margin: 50px 0;
}
.banner-heading-line{
    color: var(--primary-color);
}
.banner-details p{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: justify
}

.banner-btn{
    height: 88px;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.banner-btn-one{
    background: linear-gradient(180deg, #EFAB68 0%, #F48E28 100%);
    color: white;
    padding: 18px 40px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 31.69px;
}
.banner-btn-two{
    padding: 18px 40px;
    border: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 31.69px;
    align-content: center;
    display: flex;
    align-items: center;
}
.banner-btn-two h3{
    margin-left: 10px;
}
.banner-btn-two i{
    width: 70px;
    height: 70px;
    box-shadow: 0px 0px 25px 0px #83A5FF40;
    font-size: 49px;
    text-align: center;
    align-content: center;
    color: var(--primary-color);
    border-radius: 50%;
}
.banner-second-section{
    width: 45%;
    margin-left: 20px;
    display: grid;
    justify-content: right;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-right: -30px;
    grid-gap: 30px;
    margin-top: 50px;
}
.burger, .food-combo, .pizza, .cake{
    box-shadow: 0px 0px 31px 0px #0000000D;
    border-radius: 30px;
    padding: 20px 0;
}
.burger img, .food-combo img, .pizza img, .cake img{
    width: 180px;
    height: 150px;
}
.burger h5, .food-combo h5, .pizza h5, .cake h5{
    padding-top: 15px;
}

.pizza h3{
    margin-top: 15px;
}
.banner-item-price{
    color: #BE1008;
    padding-top: 10px;
}
.banner-second-section{

}

/* Banner Section Code  End */